<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles_main">
        <app-big-card 
        photoCover="https://cdn.riastatic.com/photosnew/auto/photo/Nissan_GT-R__143314577f.jpg"
        cardTitle="GTR-35"
        cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy"
        > 
    </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
        photoCard="https://s3.static.brasilescola.uol.com.br/be/2022/10/bandeira-do-canada.jpg"
        cardTitle="Saiu a nova versão do Angular!"
        >
    </app-small-card>
        <app-small-card
        photoCard="https://s3.static.brasilescola.uol.com.br/be/2022/10/bandeira-do-canada.jpg"
        cardTitle="Saiu a nova versão do Angular!"
        >
    </app-small-card>
        <app-small-card
        photoCard="https://s3.static.brasilescola.uol.com.br/be/2022/10/bandeira-do-canada.jpg"
        cardTitle="Saiu a nova versão do Angular!"
        >
    </app-small-card>
    </div>
</div>