<div class="container_big-card">
    <div class="big-card_img">
        <img src="https://cdn.riastatic.com/photosnew/auto/photo/Nissan_GT-R__143314577f.jpg" 
        alt="Imagem do titulo!"
        height="200"
        >
    </div>
    <div class="big-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>

    </div>
    <div class="big-card_description">
        <p><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</a></p>   
        </div>
</div>
